<section id="app-todo-list">
  <table class="table table-striped" *ngIf="todos && todos.length; else emptyTodos">
    <thead class="thead-inverse">
      <tr>
        <th class="th-actions">Actions</th>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of filterTodos(todos)" >
        <td class="td-actions">
          <div class="btn-group" role="group" aria-label="Action buttons">
            <button type="button" class="btn" [ngClass]="todo.isChecked ? 'btn-success': 'btn-secondary'" (click)="toggleCheck(todo)">
              <span class="oi oi-check"></span>
            </button>
            <button type="button" class="btn btn-primary" (click)="edit(todo)">
              <span class="oi oi-pencil"></span>
            </button>
            <button type="button" class="btn btn-danger" (click)="remove(todo)">
              <span class="oi oi-trash"></span>
            </button>
          </div>
        </td>
        <td class="align-middle">{{ todo.title }}</td>
        <td class="align-middle">{{ todo.description }}</td>
        <td class="align-middle">{{ getCategoryName(todo) }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #emptyTodos>
    You have no todo registered yet
  </ng-template>
</section>
