<section id="todo-form" class="col-12">
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="todo-form-title">Title</label>
      <input
        id="todo-form-title"
        class="form-control"
        type="text"
        formControlName="title" />
    </div>
    <div class="form-group">
      <label for="category-form-description">Description</label>
      <input
        id="category-form-description"
        class="form-control"
        type="text"
        formControlName="description" />
    </div>
    <div class="form-group">
        <label for="category-form-category">Category</label>
          <select id="category-form-category"
            formControlName="category"
            class="form-control custom-select">
            <option value="">Choose a category</option>
            <option *ngFor="let category of getCategories()" [value]="category._id">{{ category.name }}</option>
          </select>
      </div>
    <button
      type="submit"
      [disabled]="todoForm.invalid"
      class="btn btn-success">Save</button>
  </form>
  <!-- <div class="alert" [@fadeIn]="fadeInState">
    <ngb-alert type="success">Todo successfully created!</ngb-alert>
  </div> -->
</section>
